<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="description" content="Macromolecular viewer for crystallographers.">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="theme-color" content="#333333">
 <title>UglyMol - view protein models & electron density</title>
 <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
 <style type="text/css">
  {% include my.css %}
 </style>
</head>
<body>
 <div class="container">
  {{ content }}
 </div>
 <p id="footer">
  Made in <a href="http://www.diamond.ac.uk">Diamond Light Source</a>
  and in <a href="http://www.ccp4.ac.uk">CCP4-Harwell</a>.
 </p>
</body>
</html>
